.items-panel-zone-exit {
  opacity: 1;
  height: auto;
}

.items-panel-zone-exit-active {
  opacity: 0;
  height: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  transition: all 0.5s;
}
